/cloud-provider-payment8006/target/classes/application.yml
/cloud-provider-payment8006/cloud-provider-payment8006.iml
/cloud-provider-payment8006/target/classes/com/gxy/springcloud/controller/PaymentController.class
/cloud-provider-payment8006/target/classes/com/gxy/springcloud/PaymentMain8006.class
