# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/compiler.xml
/encodings.xml
/.gitignore
*.iml
*.lst
.idea
*.ipr
*.iws
.sql
.http
out

# Eclipse Project files
.classpath
.project
.settings/


gen/
local.properties

.DS_Store
Thumbs.db

*.bak
*.tem
*.temp
*.log
#.swp
*.*~
~*.*

**/*.iml

target/
logs/

# jrebel
*rebel.xml